.task-checkin-form {
    background-color: #FDF0E2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .atl-tech-week {
    border: 2px solid teal;
    background-color: #E0FFFF; /* Light cyan for ATL Tech Week */
  }
  
  .render-event {
    border: 2px solid #FE88DF;
    background-color: #FFE4E1; /* Light pink for Render */
  }
  
  .task-checkin-form h2 {
    color: #711B43;
  }
  
  .task-checkin-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .task-checkin-form input {
    padding: 8px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-checkin-form button {
    background-color: #FE88DF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-checkin-form button:hover {
    background-color: #E070C1;
  }
  